*{
    font-family: 'outfit' italic;
}

body{
    background-image: linear-gradient(#010105, #060554, #0B08A2, #0C09B5 );
}

h1{
    margin-left: 35%;
    font-size: 70px;
    color: #fff;
}

p{
    font-size: 30px;
    color: #e4e4e4;
}

.div1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

table{
border-color: #fff;
width: 100%;
height: 50%;
text-align: center;
font-size: 19px;
}

tr, td{
    color: #fff;
}

iframe{
    margin-left: 25%;
    margin-top: 10%;
    width: 50%;
    height: 550px;
}